$color-black: #22292f;
$color-grey-darkest: #3d4852;
$color-grey-darker: #606f7b;
$color-grey-dark: #8795a1;
$color-grey: #b8c2cc;
$color-grey_hs: 210, 16%; /* match $color-grey */
$color-grey_l: 76%; /* match $color-grey */
$color-grey-light: #dae1e7;
$color-grey-lighter: #f1f5f8;
$color-grey-lightest: #f8fafc;
$color-white: #ffffff;
$color-primary-darkest: #082213;
$color-primary-darker: #124e2b;
$color-primary-dark: #1c7a44;
$color-primary: #219d58;
$color-primary_hs: 147, 65%; /* match $color-primary */
$color-primary_l: 37%; /* match $color-primary */
$color-primary-light: #63c28b;
$color-primary-lighter: #9cd8b5;
$color-primary-lightest: #d4eedf;
$color-primary-on-dark-bg: #6edd3a;
$color-success-darkest: #0c2717;
$color-success-darker: #1d903c;
$color-success-dark: #1F9D55;
$color-success: #36b541;
$color-success_hs: 145, 55%; /* match $color-success */
$color-success_l: 49%; /* match $color-success */
$color-success-light: #45d369;
$color-success-lighter: #95f3a7;
$color-success-lightest: #dafbe1;
$color-info-darkest: #12283A;
$color-info-darker: #1C3D5A;
$color-info-dark: #2779BD;
$color-info: #3490DC;
$color-info_hs: 207, 71%; /* match $color-info */
$color-info_l: 53%; /* match $color-info */
$color-info-light: #6CB2EB;
$color-info-lighter: #BCDEFA;
$color-info-lightest: #EFF8FF;
$color-warning-darkest: #78350F;
$color-warning-darker: #92400E;
$color-warning-dark: #B45309;
$color-warning: #D97706;
$color-warning_hs: 32, 95%; /* match $color-warning */
$color-warning_l: 44%; /* match $color-warning */
$color-warning-light: #F59E0B;
$color-warning-lighter: #FCD34D;
$color-warning-lightest: #FEF3C7;
$color-danger-darkest: #3B0D0C;
$color-danger-darker: #621B18;
$color-danger-dark: #c2272f;
$color-danger: #E3342F;
$color-danger_hs: 2, 76%; /* match $color-danger */
$color-danger_l: 54%; /* match $color-danger */
$color-danger-light: #EF5753;
$color-danger-lighter: #F9ACAA;
$color-danger-lightest: #FCEBEA;